@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
  font-family: 'Raleway', sans-serif;
}

h1 {
  font-weight: 800;
  font-size: 75px;
}
h1 span {
  color: #EF5744;
}

.buttons {
  background-color: #EF5744;
  border-radius: 0;
  color: white;
  font-weight: 700;
}

#about-subjects {
  background-color: #E9F5F3;
}

#about-subjects h3 {
  color: black;
  font-weight: 700;
}

#about-subjects h5 {
  color: black;
  font-weight: 500;
}

h2 {
  font-weight: 700;
}

#browse-by-categories {
  background-color: #FEF1EE;
}

.category {
  background-color: #fff;
  box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.25);
}

.topics {
  color: #71B7B5;
}

.carousel-body {
  background-color: #71B7B5;
  padding: 6rem 5rem 3rem 5rem;
  position: relative;
}

.testimonial-img {
  width: 140px;
  height: 140px;
  position: absolute;
  top: -70px;
  left: 50%;
  transform: translateX(-50%);
}

.testimonial-img img {
  width: 100%;
  height: auto;
  border-radius: 50%;
}

#left-control {
  width: 70px;
  height: 70px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.25);
  position: absolute;
  top: 50%;
  left: -35px;
  transform: translateY(-50%)
}

#right-control {
  width: 70px;
  height: 70px;
  background-color: #71B7B5;
  border-radius: 50%;
  box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.25);
  position: absolute;
  top: 50%;
  right: -35px;
  transform: translateY(-50%)
}

#opening-quotes {
  position: absolute;
  top: 2.5rem;
  left: 2.5rem;
}

#closing-quotes {
  position: absolute;
  bottom: 2.5rem;
  right: 2.5rem;
}

#contacts {
  background: linear-gradient(#E9F5F3 50%, #fff 50%);
}

#contact-container {
  box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.25);
  padding: 1rem;
  background-color: #fff;
}

#contact-information {
  background-color: #71b7b5;
  padding: 2rem;
  box-sizing: border-box;
}