
body {
  height: 100%;
  font-size: 20px;
  font-weight: 800;
  color: white;
  font-family: "Roboto Mono", monospace;
}
.overlay {
  background: rgb(0, 0, 0, .6);
  background-image: url(images/chess.jpeg);
  background-size: cover;
  background-position: center;
  height: 550px;
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 40px;
}
.overlay h1,
h2 {
  text-align: center;
  padding-top: 60px;
}

.headers {
  background-color: rgb(219, 215, 215);
  height: 600px;
  color: black;
  padding-left: 100px;
column-gap: 20px;
}
.headers h4 {
  text-align: center;
}
.headers h2 {
  color: rgb(85, 76, 76);
  text-align: center;

}
.headers a{
  text-decoration: none;
}
.col-md-9{
 
  border-radius: 20px;
  color: white;
  background-color: rgb(216, 160, 55);
  transition: all.2s;
}
.col-md-9:hover{
  transform: scale(1.05);
  background-color:rgb(92, 71, 71) ;
}
.col-md-9 h3{
  text-align: center;
}
.cols1 {
  padding-top: 255px;
}
.cols2 {
  padding-top: 255px;
}
.col-ms-7 {
  border: 2px;
  border-radius: 15px;
  padding-bottom: 10px;
  background-color: rgb(228, 163, 65);
}
.img {
  padding-left: 160px;
  padding-top: 80px;
  
}
.think h4,
.algorithms h4,
.decomposition h4,
.pattern h4,
.abstraction h4 {
  padding-top: 60px;
  color: cadetblue;
  text-align: center;
}
.think p,
.algorithms,
.decomposition,
.pattern,
.abstraction {
  color: rgb(55, 63, 63);
  padding-left: 50px;
}

.think ul li {
  color: rgb(96, 151, 147);
  padding-left: 50px;
}
